<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Explore</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h2>The Fooding Project</h2>
      </header>
      <h1>Explore The World!</h1>
      <br />
      <div class="controls">
        <label for="dropdown">sort by:</label>
        <select id="dropdown" name="dropdown">
          <option value="rating">rating</option>
          <option value="pricing">pricing</option>
          <option value="nearby">city</option>
        </select>
      </div>
      <br />
      <hr />
      <div class="card-container">
        <div class="card">
          <h2>MA7al Ta3meya</h2>
          <p>123 st G road</p>
          <span>Cairo</span>
          <img
            src="../assets/British.jpg"
            alt=""
            width="100px"
            height="100px"
          />
          <p>British Cuisine</p>
          <div>
            <img src="../assets/ratings/rating-20.png" alt="" height="25px" />
          </div>
        </div>
        <a class="card" href="">
          <h2>MA7al Ta3meya</h2>
          <p>123 st G road</p>
          <span>Cairo</span>
          <img
            src="../assets/British.jpg"
            alt=""
            width="100px"
            height="100px"
          />
          <p>British Cuisine</p>
          <div>
            <img src="../assets/ratings/rating-20.png" alt="" height="25px" />
          </div>
        </a>
        <div class="card">
          <h2>MA7al Ta3meya</h2>
          <p>123 st G road</p>
          <span>Cairo</span>
          <img
            src="../assets/British.jpg"
            alt=""
            width="100px"
            height="100px"
          />
          <p>British Cuisine</p>
          <div>
            <img src="../assets/ratings/rating-20.png" alt="" height="25px" />
          </div>
        </div>
        <div class="card">
          <h2>MA7al Ta3meya</h2>
          <p>123 st G road</p>
          <span>Cairo</span>
          <img
            src="../assets/British.jpg"
            alt=""
            width="100px"
            height="100px"
          />
          <p>British Cuisine</p>
          <div>
            <img src="../assets/ratings/rating-20.png" alt="" height="25px" />
          </div>
        </div>
        <div class="card">
          <h2>MA7al Ta3meya</h2>
          <p>123 st G road</p>
          <span>Cairo</span>
          <img
            src="../assets/British.jpg"
            alt=""
            width="100px"
            height="100px"
          />
          <p>British Cuisine</p>
          <div>
            <img src="../assets/ratings/rating-20.png" alt="" height="25px" />
          </div>
        </div>
        <div class="card">
          <h2>MA7al Ta3meya</h2>
          <p>123 st G road</p>
          <span>Cairo</span>
          <img
            src="../assets/British.jpg"
            alt=""
            width="100px"
            height="100px"
          />
          <p>British Cuisine</p>
          <div>
            <img src="../assets/ratings/rating-20.png" alt="" height="25px" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
