<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Explore - The Fooding Project</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h2><a href="/">The Fooding Project</a></h2>
      </header>
      <h1>Explore The World!</h1>
      <br />
      <hr />
      <div class="card-container">
        <% allCities.forEach(function(city) { %>
        <div class="card">
          <h2><%= city.name %></h2>
          <p><%= city.country %></p>
          <p><%= city.resCount %> restaurants</p>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
