<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oops</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h2><a href="/">The Fooding Project</a></h2>
      </header>
      <h1>Opps, no restuarants for this city yet</h1>
      <br />
      <hr />
    </div>
  </body>
</html>
